* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

header {
  width: 100%;
  text-align: center;
}

.textfield-demo {
  width: 60%;
}

.output {
  width: 100%;
  height: auto;
  margin: 1em auto 0;
  position: relative;
  clear: both;
}

.demo-card-image.mdl-card {
  width: 98%;
  height: 98vw;
  margin: 1%;
  float: left;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}
.demo-card-image__filename {
  color: #fff;
}

@media screen and (min-width: 600px){
  .demo-card-image.mdl-card {
    width: 48%;
    height: 48vw;
  }
}

@media screen and (min-width: 800px){
  .demo-card-image.mdl-card {
    width: 31.332%;
    height: 31.332vw;
  }
  .textfield-demo {
    width: 40%;
  }
}

@media screen and (min-width: 1100px){
  .demo-card-image.mdl-card {
    width: 23%;
    height: 23vw;
  }
  .textfield-demo {
    width: 20%;
  }
}
